<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>Exported from Notepad++</title>
<style type="text/css">
span {
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}
.sc0 {
}
.sc1 {
	color: #008000;
}
.sc3 {
	color: #808080;
}
.sc4 {
	color: #808080;
}
.sc5 {
	font-weight: bold;
	color: #0000FF;
}
.sc10 {
	font-weight: bold;
	color: #000080;
}
.sc11 {
}
</style>
</head>
<body>
<div style="float: left; white-space: pre; line-height: 1; background: #FFFFFF; "><span class="sc1">#////////////////////////////////////////////////////////////</span><span class="sc0">
</span><span class="sc1">#indeedJobSearch.py</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#description:</span><span class="sc0">
</span><span class="sc1">#This a web scraping script that takes User Input to search indeed.com for jobs</span><span class="sc0">
</span><span class="sc1">#based off jobType, city, and state</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#functions:</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#Copywright 2017 &amp;copy; rrespino.com</span><span class="sc0">
</span><span class="sc1"># All rights reserved  </span><span class="sc0">
</span><span class="sc1">#=================================================================================</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#Edits and Profreading done</span><span class="sc0">
</span><span class="sc1"># by:___________________  Date:__|__|__</span><span class="sc0">
</span><span class="sc1">#   Note:_____________________________________</span><span class="sc0">
</span><span class="sc1">#      rrespino.com            2017</span><span class="sc0">
</span><span class="sc1">#          Cleanup for iframe rendering</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#---------------------------------------------------------------------------------</span><span class="sc0">
</span><span class="sc1">#///////////////////////////////////////////////////////////    </span><span class="sc0">
</span><span class="sc5">from</span><span class="sc0"> </span><span class="sc11">urllib</span><span class="sc10">.</span><span class="sc11">request</span><span class="sc0"> </span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">urlopen</span><span class="sc0">
</span><span class="sc5">from</span><span class="sc0"> </span><span class="sc11">bs4</span><span class="sc0"> </span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">BeautifulSoup</span><span class="sc0">

</span><span class="sc11">jobType</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">input</span><span class="sc10">(</span><span class="sc3">"Please enter job Type\n"</span><span class="sc10">)</span><span class="sc0">
</span><span class="sc11">city</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">input</span><span class="sc10">(</span><span class="sc3">"Please enter job city\n"</span><span class="sc10">)</span><span class="sc0">
</span><span class="sc11">state</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">input</span><span class="sc10">(</span><span class="sc3">"Please enter state initals\n"</span><span class="sc10">)</span><span class="sc0">

</span><span class="sc11">URL</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc3">"https://www.indeed.com/jobs?q="</span><span class="sc10">+</span><span class="sc11">jobType</span><span class="sc10">+</span><span class="sc3">"&amp;l="</span><span class="sc10">+</span><span class="sc11">city</span><span class="sc10">+</span><span class="sc3">"%2C"</span><span class="sc10">+</span><span class="sc11">state</span><span class="sc0">

</span><span class="sc5">print</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc4">'URL'</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">URL</span><span class="sc10">)</span><span class="sc0">

</span><span class="sc11">soup</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">BeautifulSoup</span><span class="sc10">(</span><span class="sc11">urlopen</span><span class="sc10">(</span><span class="sc11">URL</span><span class="sc10">).</span><span class="sc11">read</span><span class="sc10">(),</span><span class="sc0"> </span><span class="sc4">'html.parser'</span><span class="sc10">)</span><span class="sc0">

</span><span class="sc11">results</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">soup</span><span class="sc10">.</span><span class="sc11">find_all</span><span class="sc10">(</span><span class="sc4">'div'</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">attrs</span><span class="sc10">={</span><span class="sc4">'data-tn-component'</span><span class="sc10">:</span><span class="sc0"> </span><span class="sc4">'organicJob'</span><span class="sc10">})</span><span class="sc0">

</span><span class="sc1">#for all sets returned in result from web scraper</span><span class="sc0">
</span><span class="sc5">for</span><span class="sc0"> </span><span class="sc11">x</span><span class="sc0"> </span><span class="sc5">in</span><span class="sc0"> </span><span class="sc11">results</span><span class="sc10">:</span><span class="sc0">
    </span><span class="sc11">company</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">x</span><span class="sc10">.</span><span class="sc11">find</span><span class="sc10">(</span><span class="sc4">'span'</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">attrs</span><span class="sc10">={</span><span class="sc3">"itemprop"</span><span class="sc10">:</span><span class="sc3">"name"</span><span class="sc10">})</span><span class="sc0">
    </span><span class="sc5">print</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc4">'company:'</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">company</span><span class="sc10">.</span><span class="sc11">text</span><span class="sc10">.</span><span class="sc11">strip</span><span class="sc10">())</span><span class="sc0">

    </span><span class="sc11">job</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">x</span><span class="sc10">.</span><span class="sc11">find</span><span class="sc10">(</span><span class="sc4">'a'</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">attrs</span><span class="sc10">={</span><span class="sc4">'data-tn-element'</span><span class="sc10">:</span><span class="sc0"> </span><span class="sc3">"jobTitle"</span><span class="sc10">})</span><span class="sc0">
    </span><span class="sc5">print</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc4">'job:'</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">job</span><span class="sc10">.</span><span class="sc11">text</span><span class="sc10">.</span><span class="sc11">strip</span><span class="sc10">())</span><span class="sc0">

    </span><span class="sc11">salary</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">x</span><span class="sc10">.</span><span class="sc11">find</span><span class="sc10">(</span><span class="sc4">'nobr'</span><span class="sc10">)</span><span class="sc0">
    </span><span class="sc5">if</span><span class="sc0"> </span><span class="sc11">salary</span><span class="sc10">:</span><span class="sc0">
        </span><span class="sc5">print</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc4">'salary:'</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">salary</span><span class="sc10">.</span><span class="sc11">text</span><span class="sc10">.</span><span class="sc11">strip</span><span class="sc10">())</span><span class="sc0">

    </span><span class="sc5">print</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc4">'----------'</span><span class="sc10">)</span><span class="sc0">
    
</span><span class="sc1">#example output for parameters (software engineer, boulder, co)</span><span class="sc0">
</span><span class="sc1"># URL https://www.indeed.com/jobs?q=software engineer&amp;l=boulder%2Cco</span><span class="sc0">
</span><span class="sc1"># company: Faith Comes By Hearing</span><span class="sc0">
</span><span class="sc1"># job: Software Programmer</span><span class="sc0">
</span><span class="sc1"># ----------</span><span class="sc0">
</span><span class="sc1"># company: Lamers Bus Lines, Inc.</span><span class="sc0">
</span><span class="sc1"># job: Software Programmer</span><span class="sc0">
</span><span class="sc1"># ----------</span><span class="sc0">
</span><span class="sc1"># company: Two Bulls</span><span class="sc0">
</span><span class="sc1"># job: Software Engineer</span><span class="sc0">
</span><span class="sc1"># ----------</span><span class="sc0">
</span><span class="sc1"># company: BOEING</span><span class="sc0">
</span><span class="sc1"># job: Software Programmer</span><span class="sc0">
</span><span class="sc1"># ----------</span><span class="sc0">
</span><span class="sc1"># company: Jacobs</span><span class="sc0">
</span><span class="sc1"># job: Structural Engineer (New Graduate)</span><span class="sc0">
</span><span class="sc1"># ----------</span><span class="sc0">
</span><span class="sc1"># company: Atlantic Construction Co</span><span class="sc0">
</span><span class="sc1"># job: Office Assistant</span><span class="sc0">
</span><span class="sc1"># salary: $22 an hour</span><span class="sc0">
</span><span class="sc1"># ----------</span><span class="sc0">
</span><span class="sc1"># company: Artisan Electronics, Inc</span><span class="sc0">
</span><span class="sc1"># job: Software Engineer Junior</span><span class="sc0">
</span><span class="sc1"># ----------</span><span class="sc0">
</span><span class="sc1"># company: Avatier</span><span class="sc0">
</span><span class="sc1"># job: Remote Software Developer .net/C#</span><span class="sc0">
</span><span class="sc1"># ----------</span><span class="sc0">
</span><span class="sc1"># company: Wyle Laboratories</span><span class="sc0">
</span><span class="sc1"># job: Software Programmer</span><span class="sc0">
</span><span class="sc1"># ----------</span><span class="sc0">
</span><span class="sc1"># company: RxSpeed Inc.</span><span class="sc0">
</span><span class="sc1"># job: "RxSpeed" is seeking full time Automotive Enthusiast / Softw...</span><span class="sc0">
</span><span class="sc1"># ----------</span></div></body>
</html>
