<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>Exported from Notepad++</title>
<style type="text/css">
span {
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}
.sc0 {
	font-weight: bold;
}
.sc1 {
	color: #0000FF;
}
.sc3 {
	color: #FF0000;
}
.sc6 {
	font-weight: bold;
	color: #8000FF;
}
.sc8 {
}
.sc11 {
	color: #0000FF;
}
.sc15 {
	font-weight: bold;
	background: #FFFF00;
}
.sc16 {
	background: #FFC000;
}
.sc21 {
	background: #A6CAF0;
}
.sc26 {
}
.sc80 {
}
.sc81 {
	color: #8000FF;
	background: #C4F9FD;
}
.sc83 {
	color: #FF0000;
	background: #C4F9FD;
}
.sc84 {
	font-weight: bold;
	color: #000080;
	background: #C4F9FD;
}
.sc85 {
	color: #808080;
	background: #C4F9FD;
}
.sc86 {
	background: #C4F9FD;
}
</style>
</head>
<body>
<div style="float: left; white-space: pre; line-height: 1; background: #FFFFFF; "><span class="sc15">&lt;%</span><span class="sc80">
</span><span class="sc81">/////////////////////////////////////////////////////////////////////////////////////
//</span><span class="sc86">ProjectName</span><span class="sc81">:  </span><span class="sc86">javaCodeExample</span><span class="sc81">
//
//</span><span class="sc86">ModuleName</span><span class="sc81">: </span><span class="sc86">index.jsp</span><span class="sc81">
//
//</span><span class="sc86">Purpose</span><span class="sc81">:  </span><span class="sc86">This</span><span class="sc81"> </span><span class="sc84">is</span><span class="sc81"> </span><span class="sc86">the</span><span class="sc81"> </span><span class="sc86">main</span><span class="sc81"> </span><span class="sc86">jsp</span><span class="sc81"> </span><span class="sc86">page</span><span class="sc81"> </span><span class="sc86">presented</span><span class="sc81"> </span><span class="sc84">to</span><span class="sc81"> </span><span class="sc86">the</span><span class="sc81"> </span><span class="sc86">user</span><span class="sc81">
//
//</span><span class="sc86">Copywright</span><span class="sc81"> </span><span class="sc83">2017</span><span class="sc81"> &amp;</span><span class="sc86">copy</span><span class="sc81">;  </span><span class="sc86">admin</span><span class="sc81">@</span><span class="sc86">rrespino.com</span><span class="sc81"> 
//</span><span class="sc86">All</span><span class="sc81"> </span><span class="sc86">rights</span><span class="sc81"> </span><span class="sc86">reserved</span><span class="sc81">   
//=================================================================================
//
//</span><span class="sc86">Includes</span><span class="sc81">:     *.</span><span class="sc84">class</span><span class="sc81"> 
//</span><span class="sc86">import</span><span class="sc81"> </span><span class="sc86">java.io.</span><span class="sc81">*;
//</span><span class="sc86">import</span><span class="sc81"> </span><span class="sc86">java.util.</span><span class="sc81">*;
//
//</span><span class="sc86">Functions</span><span class="sc81">:    
//
//</span><span class="sc86">Edits</span><span class="sc81"> </span><span class="sc84">and</span><span class="sc81"> </span><span class="sc86">Profreading</span><span class="sc81"> </span><span class="sc86">done</span><span class="sc81">
//</span><span class="sc86">by</span><span class="sc81">:</span><span class="sc86">___________________</span><span class="sc81">  </span><span class="sc84">Date</span><span class="sc81">:</span><span class="sc86">__</span><span class="sc81">|</span><span class="sc86">__</span><span class="sc81">|</span><span class="sc86">__</span><span class="sc81">
//</span><span class="sc86">Note</span><span class="sc81">:</span><span class="sc86">_____________________________________</span><span class="sc81">
//
/////////////////////////////////////////////////////////////////////////////////////
</span><span class="sc15">%&gt;</span><span class="sc0">
</span><span class="sc15">&lt;%@</span><span class="sc16"> page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"</span><span class="sc15">%&gt;</span><span class="sc0">
</span><span class="sc15">&lt;%@</span><span class="sc16"> page import="java.io.*,java.util.*" </span><span class="sc15">%&gt;</span><span class="sc0">
</span><span class="sc15">&lt;%</span><span class="sc80">
</span><span class="sc81">//</span><span class="sc86">Display</span><span class="sc81"> </span><span class="sc86">user</span><span class="sc81"> </span><span class="sc86">name</span><span class="sc81"> </span><span class="sc86">only</span><span class="sc81"> </span><span class="sc84">if</span><span class="sc81"> </span><span class="sc86">session</span><span class="sc81"> </span><span class="sc86">exists</span><span class="sc81">
</span><span class="sc84">String</span><span class="sc81"> </span><span class="sc86">user</span><span class="sc81"> = </span><span class="sc86">null</span><span class="sc81">;
</span><span class="sc84">if</span><span class="sc81">(</span><span class="sc86">session.getAttribute</span><span class="sc81">(</span><span class="sc85">"user"</span><span class="sc81">) == </span><span class="sc86">null</span><span class="sc81">){
    </span><span class="sc86">user</span><span class="sc81"> = </span><span class="sc85">"no one is logged in"</span><span class="sc81">;
}</span><span class="sc84">else</span><span class="sc81"> </span><span class="sc86">user</span><span class="sc81"> = (</span><span class="sc84">String</span><span class="sc81">) </span><span class="sc86">session.getAttribute</span><span class="sc81">(</span><span class="sc85">"user"</span><span class="sc81">);
</span><span class="sc15">%&gt;</span><span class="sc0">
</span><span class="sc21">&lt;!</span><span class="sc26">DOCTYPE html</span><span class="sc21">&gt;</span><span class="sc0">
</span><span class="sc1">&lt;html&gt;</span><span class="sc0">
</span><span class="sc1">&lt;head&gt;</span><span class="sc0">
</span><span class="sc1">&lt;meta</span><span class="sc8"> </span><span class="sc3">charset</span><span class="sc8">=</span><span class="sc6">"US-ASCII"</span><span class="sc1">&gt;</span><span class="sc0">
</span><span class="sc1">&lt;title&gt;</span><span class="sc0">Java Code Example Page</span><span class="sc1">&lt;/title&gt;</span><span class="sc0">
</span><span class="sc1">&lt;/head&gt;</span><span class="sc0">
</span><span class="sc1">&lt;body&gt;</span><span class="sc0">
</span><span class="sc1">&lt;form</span><span class="sc8"> </span><span class="sc3">action</span><span class="sc8">=</span><span class="sc6">"LoginServlet"</span><span class="sc8"> </span><span class="sc3">method</span><span class="sc8">=</span><span class="sc6">"post"</span><span class="sc1">&gt;</span><span class="sc0">
Username: </span><span class="sc1">&lt;input</span><span class="sc8"> </span><span class="sc3">type</span><span class="sc8">=</span><span class="sc6">"text"</span><span class="sc8"> </span><span class="sc3">name</span><span class="sc8">=</span><span class="sc6">"user"</span><span class="sc1">&gt;</span><span class="sc0">
</span><span class="sc1">&lt;br&gt;</span><span class="sc0">
Password: </span><span class="sc1">&lt;input</span><span class="sc8"> </span><span class="sc3">type</span><span class="sc8">=</span><span class="sc6">"password"</span><span class="sc8"> </span><span class="sc3">name</span><span class="sc8">=</span><span class="sc6">"pwd"</span><span class="sc1">&gt;</span><span class="sc0">
</span><span class="sc1">&lt;br&gt;</span><span class="sc0">
</span><span class="sc1">&lt;input</span><span class="sc8"> </span><span class="sc3">type</span><span class="sc8">=</span><span class="sc6">"submit"</span><span class="sc8"> </span><span class="sc3">value</span><span class="sc8">=</span><span class="sc6">"Login"</span><span class="sc1">&gt;</span><span class="sc0">
</span><span class="sc1">&lt;/form&gt;</span><span class="sc0">
</span><span class="sc1">&lt;br</span><span class="sc11">/&gt;</span><span class="sc0">
</span><span class="sc1">&lt;h3&gt;</span><span class="sc0">Hello </span><span class="sc15">&lt;%=</span><span class="sc86">user</span><span class="sc81"> </span><span class="sc15">%&gt;</span><span class="sc1">&lt;/h3&gt;</span><span class="sc0">
</span><span class="sc1">&lt;br</span><span class="sc11">/&gt;</span><span class="sc0">
</span><span class="sc1">&lt;form</span><span class="sc8"> </span><span class="sc3">action</span><span class="sc8">=</span><span class="sc6">"LogoutServlet"</span><span class="sc8"> </span><span class="sc3">method</span><span class="sc8">=</span><span class="sc6">"post"</span><span class="sc1">&gt;</span><span class="sc0">
</span><span class="sc1">&lt;input</span><span class="sc8"> </span><span class="sc3">type</span><span class="sc8">=</span><span class="sc6">"submit"</span><span class="sc8"> </span><span class="sc3">value</span><span class="sc8">=</span><span class="sc6">"Logout"</span><span class="sc8"> </span><span class="sc1">&gt;</span><span class="sc0">
</span><span class="sc1">&lt;/form&gt;</span><span class="sc0">
</span><span class="sc1">&lt;/body&gt;</span><span class="sc0">
</span><span class="sc1">&lt;/html&gt;</span></div></body>
</html>
