<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>Exported from Notepad++</title>
<style type="text/css">
span {
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}
.sc0 {
}
.sc2 {
	color: #008000;
}
.sc4 {
	color: #FF8000;
}
.sc5 {
	font-weight: bold;
	color: #0000FF;
}
.sc6 {
	color: #808080;
}
.sc7 {
	color: #808080;
}
.sc9 {
	color: #804000;
}
.sc10 {
	font-weight: bold;
	color: #000080;
}
.sc11 {
}
.sc16 {
	color: #8000FF;
}
</style>
</head>
<body>
<div style="float: left; white-space: pre; line-height: 1; background: #FFFFFF; "><span class="sc2">//////////////////////////////////////////////////////////////
//cCodeExample.c
//
//description:
//This was a library found on microsoft that was used as a base for the X-Plane
//plugin that I wrote for Bendix King by Honeywell Aerospace and Defense
//further information on how I applied this example software towards industry 
//can be found at rrespino.com/portfolio.php#embedded
//  Bounce - Creates a new thread each time the letter 'a' is typed.  
//  Each thread bounces a happy face of a different color around  
//  the screen. All threads are terminated when the letter 'Q' is  
//  entered.
//
//functions:
//ClearScreen()
//WriteTitle()
//BounceProc()
//KbdFunc()
//ShutDown()
//main()
//
//Copywright 2017 &amp;copy; rrespino.com
// All rights reserved  
//=================================================================================
//
//Edits and Profreading done
// by:___________________  Date:__|__|__
//   Note:_____________________________________
//      rrespino.com            2017
//          Cleanup for iframe rendering
//
//---------------------------------------------------------------------------------  
</span><span class="sc0">  
</span><span class="sc9">#include &lt;windows.h&gt;  
#include &lt;stdlib.h&gt;  
#include &lt;string.h&gt;  
#include &lt;stdio.h&gt;  
#include &lt;conio.h&gt;  
#include &lt;process.h&gt;  
</span><span class="sc0">  
</span><span class="sc9">#define MAX_THREADS  32  
</span><span class="sc0">  
</span><span class="sc2">// The function getrandom returns a random number between   
// min and max, which must be in integer range.  
</span><span class="sc9">#define getrandom( min, max ) (SHORT)((rand() % (int)(((max) + 1) - \  
</span><span class="sc0">                               </span><span class="sc10">(</span><span class="sc11">min</span><span class="sc10">)))</span><span class="sc0"> </span><span class="sc10">+</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc11">min</span><span class="sc10">))</span><span class="sc0">  
  
</span><span class="sc16">int</span><span class="sc0"> </span><span class="sc11">main</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">                    </span><span class="sc2">// Thread 1: main   
</span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">KbdFunc</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0">  </span><span class="sc10">);</span><span class="sc0">               </span><span class="sc2">// Keyboard input, thread dispatch  
</span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">BounceProc</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0"> </span><span class="sc10">*</span><span class="sc0"> </span><span class="sc11">MyID</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">      </span><span class="sc2">// Threads 2 to n: display   
</span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">ClearScreen</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">            </span><span class="sc2">// Screen clear   
</span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">ShutDown</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">               </span><span class="sc2">// Program shutdown   
</span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">WriteTitle</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">int</span><span class="sc0"> </span><span class="sc11">ThreadNum</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">    </span><span class="sc2">// Display title bar information   
</span><span class="sc0">  
</span><span class="sc11">HANDLE</span><span class="sc0">  </span><span class="sc11">hConsoleOut</span><span class="sc10">;</span><span class="sc0">                 </span><span class="sc2">// Handle to the console   
</span><span class="sc11">HANDLE</span><span class="sc0">  </span><span class="sc11">hRunMutex</span><span class="sc10">;</span><span class="sc0">                   </span><span class="sc2">// "Keep Running" mutex   
</span><span class="sc11">HANDLE</span><span class="sc0">  </span><span class="sc11">hScreenMutex</span><span class="sc10">;</span><span class="sc0">                </span><span class="sc2">// "Screen update" mutex  
</span><span class="sc16">int</span><span class="sc0">     </span><span class="sc11">ThreadNr</span><span class="sc10">;</span><span class="sc0">                    </span><span class="sc2">// Number of threads started   
</span><span class="sc11">CONSOLE_SCREEN_BUFFER_INFO</span><span class="sc0"> </span><span class="sc11">csbiInfo</span><span class="sc10">;</span><span class="sc0"> </span><span class="sc2">// Console information  
</span><span class="sc0">  
</span><span class="sc16">int</span><span class="sc0"> </span><span class="sc11">main</span><span class="sc10">()</span><span class="sc0"> </span><span class="sc2">// Thread One   
</span><span class="sc10">{</span><span class="sc0">  
    </span><span class="sc2">// Get display screen information &amp; clear the screen.  
</span><span class="sc0">    </span><span class="sc11">hConsoleOut</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">GetStdHandle</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">STD_OUTPUT_HANDLE</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
    </span><span class="sc11">GetConsoleScreenBufferInfo</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hConsoleOut</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">csbiInfo</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
    </span><span class="sc11">ClearScreen</span><span class="sc10">();</span><span class="sc0">  
    </span><span class="sc11">WriteTitle</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc4">0</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
  
    </span><span class="sc2">// Create the mutexes and reset thread count.  
</span><span class="sc0">    </span><span class="sc11">hScreenMutex</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">CreateMutex</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc5">NULL</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">FALSE</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc5">NULL</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  </span><span class="sc2">// Cleared   
</span><span class="sc0">    </span><span class="sc11">hRunMutex</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">CreateMutex</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc5">NULL</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">TRUE</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc5">NULL</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">      </span><span class="sc2">// Set   
</span><span class="sc0">    </span><span class="sc11">ThreadNr</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc4">0</span><span class="sc10">;</span><span class="sc0">  
  
    </span><span class="sc2">// Start waiting for keyboard input to dispatch threads or exit.  
</span><span class="sc0">    </span><span class="sc11">KbdFunc</span><span class="sc10">();</span><span class="sc0">  
  
    </span><span class="sc2">// All threads done. Clean up handles.  
</span><span class="sc0">    </span><span class="sc11">CloseHandle</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hScreenMutex</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
    </span><span class="sc11">CloseHandle</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hRunMutex</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
    </span><span class="sc11">CloseHandle</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hConsoleOut</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
</span><span class="sc10">}</span><span class="sc0">  
  
</span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">ShutDown</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0"> </span><span class="sc2">// Shut down threads   
</span><span class="sc10">{</span><span class="sc0">  
    </span><span class="sc5">while</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">ThreadNr</span><span class="sc0"> </span><span class="sc10">&gt;</span><span class="sc0"> </span><span class="sc4">0</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0">  
    </span><span class="sc10">{</span><span class="sc0">  
        </span><span class="sc2">// Tell thread to die and record its death.  
</span><span class="sc0">        </span><span class="sc11">ReleaseMutex</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hRunMutex</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
        </span><span class="sc11">ThreadNr</span><span class="sc10">--;</span><span class="sc0">     
    </span><span class="sc10">}</span><span class="sc0">  
  
    </span><span class="sc2">// Clean up display when done  
</span><span class="sc0">    </span><span class="sc11">WaitForSingleObject</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hScreenMutex</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">INFINITE</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
    </span><span class="sc11">ClearScreen</span><span class="sc10">();</span><span class="sc0">  
</span><span class="sc10">}</span><span class="sc0">  
  
</span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">KbdFunc</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0"> </span><span class="sc2">// Dispatch and count threads.  
</span><span class="sc10">{</span><span class="sc0">  
    </span><span class="sc16">int</span><span class="sc0">         </span><span class="sc11">KeyInfo</span><span class="sc10">;</span><span class="sc0">  
  
    </span><span class="sc5">do</span><span class="sc0">  
    </span><span class="sc10">{</span><span class="sc0">  
        </span><span class="sc11">KeyInfo</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">_getch</span><span class="sc10">();</span><span class="sc0">  
        </span><span class="sc5">if</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">tolower</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">KeyInfo</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0"> </span><span class="sc10">==</span><span class="sc0"> </span><span class="sc7">'a'</span><span class="sc0"> </span><span class="sc10">&amp;&amp;</span><span class="sc0">   
             </span><span class="sc11">ThreadNr</span><span class="sc0"> </span><span class="sc10">&lt;</span><span class="sc0"> </span><span class="sc11">MAX_THREADS</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0">  
        </span><span class="sc10">{</span><span class="sc0">  
            </span><span class="sc11">ThreadNr</span><span class="sc10">++;</span><span class="sc0">  
            </span><span class="sc11">_beginthread</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">BounceProc</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">0</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">ThreadNr</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
            </span><span class="sc11">WriteTitle</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">ThreadNr</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
        </span><span class="sc10">}</span><span class="sc0">  
    </span><span class="sc10">}</span><span class="sc0"> </span><span class="sc5">while</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">tolower</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">KeyInfo</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0"> </span><span class="sc10">!=</span><span class="sc0"> </span><span class="sc7">'q'</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
  
    </span><span class="sc11">ShutDown</span><span class="sc10">();</span><span class="sc0">  
</span><span class="sc10">}</span><span class="sc0">  
  
</span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">BounceProc</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0"> </span><span class="sc10">*</span><span class="sc11">pMyID</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0">  </span><span class="sc2">//process control for smiley face threads
</span><span class="sc10">{</span><span class="sc0">  
    </span><span class="sc16">char</span><span class="sc0">    </span><span class="sc11">MyCell</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">OldCell</span><span class="sc10">;</span><span class="sc0">  
    </span><span class="sc11">WORD</span><span class="sc0">    </span><span class="sc11">MyAttrib</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">OldAttrib</span><span class="sc10">;</span><span class="sc0">  
    </span><span class="sc16">char</span><span class="sc0">    </span><span class="sc11">BlankCell</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc4">0x20</span><span class="sc10">;</span><span class="sc0">  
    </span><span class="sc11">COORD</span><span class="sc0">   </span><span class="sc11">Coords</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">Delta</span><span class="sc10">;</span><span class="sc0">  
    </span><span class="sc11">COORD</span><span class="sc0">   </span><span class="sc11">Old</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc10">{</span><span class="sc4">0</span><span class="sc10">,</span><span class="sc4">0</span><span class="sc10">};</span><span class="sc0">  
    </span><span class="sc11">DWORD</span><span class="sc0">   </span><span class="sc11">Dummy</span><span class="sc10">;</span><span class="sc0">  
    </span><span class="sc16">char</span><span class="sc0">    </span><span class="sc10">*</span><span class="sc11">MyID</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc16">char</span><span class="sc10">*)</span><span class="sc11">pMyID</span><span class="sc10">;</span><span class="sc0">  
  
    </span><span class="sc2">// Generate update increments and initial   
</span><span class="sc0">    </span><span class="sc2">// display coordinates.  
</span><span class="sc0">    </span><span class="sc11">srand</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc16">unsigned</span><span class="sc0"> </span><span class="sc16">int</span><span class="sc10">)</span><span class="sc0"> </span><span class="sc10">*</span><span class="sc11">MyID</span><span class="sc0"> </span><span class="sc10">*</span><span class="sc0"> </span><span class="sc4">3</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
  
    </span><span class="sc11">Coords</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">getrandom</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc4">0</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">csbiInfo</span><span class="sc10">.</span><span class="sc11">dwSize</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc0"> </span><span class="sc10">-</span><span class="sc0"> </span><span class="sc4">1</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
    </span><span class="sc11">Coords</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">getrandom</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc4">0</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">csbiInfo</span><span class="sc10">.</span><span class="sc11">dwSize</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc0"> </span><span class="sc10">-</span><span class="sc0"> </span><span class="sc4">1</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
    </span><span class="sc11">Delta</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">getrandom</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc10">-</span><span class="sc4">3</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">3</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
    </span><span class="sc11">Delta</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">getrandom</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc10">-</span><span class="sc4">3</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">3</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
  
    </span><span class="sc2">// Set up "happy face" &amp; generate color   
</span><span class="sc0">    </span><span class="sc2">// attribute from thread number.  
</span><span class="sc0">    </span><span class="sc5">if</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc10">*</span><span class="sc11">MyID</span><span class="sc0"> </span><span class="sc10">&gt;</span><span class="sc0"> </span><span class="sc4">16</span><span class="sc10">)</span><span class="sc0">  
        </span><span class="sc11">MyCell</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc4">0x01</span><span class="sc10">;</span><span class="sc0">          </span><span class="sc2">// outline face   
</span><span class="sc0">    </span><span class="sc5">else</span><span class="sc0">  
        </span><span class="sc11">MyCell</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc4">0x02</span><span class="sc10">;</span><span class="sc0">          </span><span class="sc2">// solid face   
</span><span class="sc0">    </span><span class="sc11">MyAttrib</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0">  </span><span class="sc10">*</span><span class="sc11">MyID</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc0"> </span><span class="sc4">0x0F</span><span class="sc10">;</span><span class="sc0">   </span><span class="sc2">// force black background   
</span><span class="sc0">  
    </span><span class="sc5">do</span><span class="sc0">  
    </span><span class="sc10">{</span><span class="sc0">  
        </span><span class="sc2">// Wait for display to be available, then lock it.  
</span><span class="sc0">        </span><span class="sc11">WaitForSingleObject</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hScreenMutex</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">INFINITE</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
  
        </span><span class="sc2">// If we still occupy the old screen position, blank it out.   
</span><span class="sc0">        </span><span class="sc11">ReadConsoleOutputCharacter</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hConsoleOut</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">OldCell</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">1</span><span class="sc10">,</span><span class="sc0">   
                                    </span><span class="sc11">Old</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">Dummy</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
        </span><span class="sc11">ReadConsoleOutputAttribute</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hConsoleOut</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">OldAttrib</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">1</span><span class="sc10">,</span><span class="sc0">   
                                    </span><span class="sc11">Old</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">Dummy</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
        </span><span class="sc5">if</span><span class="sc0"> </span><span class="sc10">((</span><span class="sc0"> </span><span class="sc11">OldCell</span><span class="sc0"> </span><span class="sc10">==</span><span class="sc0"> </span><span class="sc11">MyCell</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0"> </span><span class="sc10">&amp;&amp;</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc11">OldAttrib</span><span class="sc0"> </span><span class="sc10">==</span><span class="sc0"> </span><span class="sc11">MyAttrib</span><span class="sc10">))</span><span class="sc0">  
            </span><span class="sc11">WriteConsoleOutputCharacter</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hConsoleOut</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">BlankCell</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">1</span><span class="sc10">,</span><span class="sc0">  
                                         </span><span class="sc11">Old</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">Dummy</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
  
        </span><span class="sc2">// Draw new face, then clear screen lock   
</span><span class="sc0">        </span><span class="sc11">WriteConsoleOutputCharacter</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hConsoleOut</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">MyCell</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">1</span><span class="sc10">,</span><span class="sc0">   
                                     </span><span class="sc11">Coords</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">Dummy</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
        </span><span class="sc11">WriteConsoleOutputAttribute</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hConsoleOut</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">MyAttrib</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">1</span><span class="sc10">,</span><span class="sc0">   
                                     </span><span class="sc11">Coords</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">Dummy</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
        </span><span class="sc11">ReleaseMutex</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hScreenMutex</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
  
        </span><span class="sc2">// Increment the coordinates for next placement of the block.   
</span><span class="sc0">        </span><span class="sc11">Old</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">Coords</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc10">;</span><span class="sc0">  
        </span><span class="sc11">Old</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">Coords</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc10">;</span><span class="sc0">  
        </span><span class="sc11">Coords</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc0"> </span><span class="sc10">+=</span><span class="sc0"> </span><span class="sc11">Delta</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc10">;</span><span class="sc0">  
        </span><span class="sc11">Coords</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc0"> </span><span class="sc10">+=</span><span class="sc0"> </span><span class="sc11">Delta</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc10">;</span><span class="sc0">  
  
        </span><span class="sc2">// If we are about to go off the screen, reverse direction   
</span><span class="sc0">        </span><span class="sc5">if</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">Coords</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc0"> </span><span class="sc10">&lt;</span><span class="sc0"> </span><span class="sc4">0</span><span class="sc0"> </span><span class="sc10">||</span><span class="sc0"> </span><span class="sc11">Coords</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc0"> </span><span class="sc10">&gt;=</span><span class="sc0"> </span><span class="sc11">csbiInfo</span><span class="sc10">.</span><span class="sc11">dwSize</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0">  
        </span><span class="sc10">{</span><span class="sc0">  
            </span><span class="sc11">Delta</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc10">-</span><span class="sc11">Delta</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc10">;</span><span class="sc0">  
            </span><span class="sc11">Beep</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc4">400</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">50</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
        </span><span class="sc10">}</span><span class="sc0">  
        </span><span class="sc5">if</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">Coords</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc0"> </span><span class="sc10">&lt;</span><span class="sc0"> </span><span class="sc4">0</span><span class="sc0"> </span><span class="sc10">||</span><span class="sc0"> </span><span class="sc11">Coords</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc0"> </span><span class="sc10">&gt;</span><span class="sc0"> </span><span class="sc11">csbiInfo</span><span class="sc10">.</span><span class="sc11">dwSize</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0">  
        </span><span class="sc10">{</span><span class="sc0">  
            </span><span class="sc11">Delta</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc10">-</span><span class="sc11">Delta</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc10">;</span><span class="sc0">  
            </span><span class="sc11">Beep</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc4">600</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">50</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
        </span><span class="sc10">}</span><span class="sc0">  
    </span><span class="sc10">}</span><span class="sc0">  
    </span><span class="sc2">// Repeat while RunMutex is still taken.   
</span><span class="sc0">    </span><span class="sc5">while</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">WaitForSingleObject</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hRunMutex</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">75L</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0"> </span><span class="sc10">==</span><span class="sc0"> </span><span class="sc11">WAIT_TIMEOUT</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
</span><span class="sc10">}</span><span class="sc0">  
  
</span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">WriteTitle</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">int</span><span class="sc0"> </span><span class="sc11">ThreadNum</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0">  </span><span class="sc2">//output the number of threads running
</span><span class="sc10">{</span><span class="sc0">  
    </span><span class="sc16">enum</span><span class="sc0"> </span><span class="sc10">{</span><span class="sc0">   
        </span><span class="sc11">sizeOfNThreadMsg</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc4">80</span><span class="sc0">   
    </span><span class="sc10">};</span><span class="sc0">  
    </span><span class="sc16">char</span><span class="sc0">    </span><span class="sc11">NThreadMsg</span><span class="sc10">[</span><span class="sc11">sizeOfNThreadMsg</span><span class="sc10">];</span><span class="sc0">  
  
    </span><span class="sc11">sprintf_s</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">NThreadMsg</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">sizeOfNThreadMsg</span><span class="sc10">,</span><span class="sc0">   
               </span><span class="sc6">"Threads running: %02d.  Press 'A' "</span><span class="sc0">  
               </span><span class="sc6">"to start a thread,'Q' to quit."</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">ThreadNum</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
    </span><span class="sc11">SetConsoleTitle</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">NThreadMsg</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
</span><span class="sc10">}</span><span class="sc0">  
  
</span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">ClearScreen</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0"> </span><span class="sc10">)</span><span class="sc0">  </span><span class="sc2">//clear the screen of all bouncing smiley faces
</span><span class="sc10">{</span><span class="sc0">  
    </span><span class="sc11">DWORD</span><span class="sc0">    </span><span class="sc11">dummy</span><span class="sc10">;</span><span class="sc0">  
    </span><span class="sc11">COORD</span><span class="sc0">    </span><span class="sc11">Home</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc10">{</span><span class="sc0"> </span><span class="sc4">0</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc4">0</span><span class="sc0"> </span><span class="sc10">};</span><span class="sc0">  
    </span><span class="sc11">FillConsoleOutputCharacter</span><span class="sc10">(</span><span class="sc0"> </span><span class="sc11">hConsoleOut</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc7">' '</span><span class="sc10">,</span><span class="sc0">   
                                </span><span class="sc11">csbiInfo</span><span class="sc10">.</span><span class="sc11">dwSize</span><span class="sc10">.</span><span class="sc11">X</span><span class="sc0"> </span><span class="sc10">*</span><span class="sc0"> </span><span class="sc11">csbiInfo</span><span class="sc10">.</span><span class="sc11">dwSize</span><span class="sc10">.</span><span class="sc11">Y</span><span class="sc10">,</span><span class="sc0">   
                                </span><span class="sc11">Home</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc10">&amp;</span><span class="sc11">dummy</span><span class="sc0"> </span><span class="sc10">);</span><span class="sc0">  
</span><span class="sc10">}</span><span class="sc0">  
</span></div></body>
</html>
