<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>Exported from Notepad++</title>
<style type="text/css">
span {
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}
.sc0 {
}
.sc2 {
	color: #008000;
}
.sc3 {
	color: #008080;
}
.sc4 {
	color: #FF8000;
}
.sc5 {
	font-weight: bold;
	color: #0000FF;
}
.sc6 {
	color: #808080;
}
.sc10 {
	font-weight: bold;
	color: #000080;
}
.sc11 {
}
.sc16 {
	color: #8000FF;
}
.sc18 {
	color: #008080;
}
</style>
</head>
<body>
<div style="float: left; white-space: pre; line-height: 1; background: #FFFFFF; "><span class="sc2">/////////////////////////////////////////////////////////////////////////////////////
//ProjectName:  javaCodeExample
//
//ModuleName: LogoutServlet.java
//
//Purpose:  This is the java servlet to handle the logout form call
//          from the index.jsp page
//
//Copywright 2017 &amp;copy;  admin@rrespino.com 
// All rights reserved  
//=================================================================================
//
//Includes:     *.class 
//  import java.io.IOException;
//  import javax.servlet.ServletException;
//  import javax.servlet.annotation.WebServlet;
//  import javax.servlet.http.HttpServlet;
//  import javax.servlet.http.HttpServletRequest;
//  import javax.servlet.http.HttpServletResponse;
//  import javax.servlet.http.HttpSession;
//
//Functions:    
//      LogoutServlet() super function for class instantiation
//      doGet() Standard Servlet function
//      doPost() Standard Servlet function
//
//Edits and Profreading done
// by:___________________  Date:__|__|__
//   Note:_____________________________________
//
/////////////////////////////////////////////////////////////////////////////////////
</span><span class="sc16">package</span><span class="sc0"> </span><span class="sc11">javaCodeExample</span><span class="sc10">;</span><span class="sc0">

</span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">java</span><span class="sc10">.</span><span class="sc11">io</span><span class="sc10">.</span><span class="sc11">IOException</span><span class="sc10">;</span><span class="sc0">
</span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">javax</span><span class="sc10">.</span><span class="sc11">servlet</span><span class="sc10">.</span><span class="sc11">ServletException</span><span class="sc10">;</span><span class="sc0">
</span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">javax</span><span class="sc10">.</span><span class="sc11">servlet</span><span class="sc10">.</span><span class="sc11">annotation</span><span class="sc10">.</span><span class="sc11">WebServlet</span><span class="sc10">;</span><span class="sc0">
</span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">javax</span><span class="sc10">.</span><span class="sc11">servlet</span><span class="sc10">.</span><span class="sc11">http</span><span class="sc10">.</span><span class="sc11">HttpServlet</span><span class="sc10">;</span><span class="sc0">
</span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">javax</span><span class="sc10">.</span><span class="sc11">servlet</span><span class="sc10">.</span><span class="sc11">http</span><span class="sc10">.</span><span class="sc11">HttpServletRequest</span><span class="sc10">;</span><span class="sc0">
</span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">javax</span><span class="sc10">.</span><span class="sc11">servlet</span><span class="sc10">.</span><span class="sc11">http</span><span class="sc10">.</span><span class="sc11">HttpServletResponse</span><span class="sc10">;</span><span class="sc0">
</span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">javax</span><span class="sc10">.</span><span class="sc11">servlet</span><span class="sc10">.</span><span class="sc11">http</span><span class="sc10">.</span><span class="sc11">HttpSession</span><span class="sc10">;</span><span class="sc0">

</span><span class="sc3">/**
 * Servlet implementation class LogoutServlet
 */</span><span class="sc0">
</span><span class="sc11">@WebServlet</span><span class="sc10">(</span><span class="sc6">"/LogoutServlet"</span><span class="sc10">)</span><span class="sc0">
</span><span class="sc16">public</span><span class="sc0"> </span><span class="sc16">class</span><span class="sc0"> </span><span class="sc11">LogoutServlet</span><span class="sc0"> </span><span class="sc5">extends</span><span class="sc0"> </span><span class="sc11">HttpServlet</span><span class="sc0"> </span><span class="sc10">{</span><span class="sc0">
    </span><span class="sc16">private</span><span class="sc0"> </span><span class="sc16">static</span><span class="sc0"> </span><span class="sc16">final</span><span class="sc0"> </span><span class="sc16">long</span><span class="sc0"> </span><span class="sc11">serialVersionUID</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc4">1L</span><span class="sc10">;</span><span class="sc0">
       
    </span><span class="sc3">/**
     * </span><span class="sc18">@see</span><span class="sc3"> HttpServlet#HttpServlet()
     */</span><span class="sc0">
    </span><span class="sc16">public</span><span class="sc0"> </span><span class="sc11">LogoutServlet</span><span class="sc10">()</span><span class="sc0"> </span><span class="sc10">{</span><span class="sc0">
        </span><span class="sc5">super</span><span class="sc10">();</span><span class="sc0">
        </span><span class="sc2">// TODO Auto-generated constructor stub
</span><span class="sc0">    </span><span class="sc10">}</span><span class="sc0">

    </span><span class="sc3">/**
     * </span><span class="sc18">@see</span><span class="sc3"> HttpServlet#doGet(HttpServletRequest request, HttpServletResponse response)
     */</span><span class="sc0">
    </span><span class="sc16">protected</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">doGet</span><span class="sc10">(</span><span class="sc11">HttpServletRequest</span><span class="sc0"> </span><span class="sc11">request</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">HttpServletResponse</span><span class="sc0"> </span><span class="sc11">response</span><span class="sc10">)</span><span class="sc0"> </span><span class="sc5">throws</span><span class="sc0"> </span><span class="sc11">ServletException</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">IOException</span><span class="sc0"> </span><span class="sc10">{</span><span class="sc0">
        </span><span class="sc2">// TODO Auto-generated method stub
</span><span class="sc0">        </span><span class="sc11">response</span><span class="sc10">.</span><span class="sc11">getWriter</span><span class="sc10">().</span><span class="sc11">append</span><span class="sc10">(</span><span class="sc6">"Served at: "</span><span class="sc10">).</span><span class="sc11">append</span><span class="sc10">(</span><span class="sc11">request</span><span class="sc10">.</span><span class="sc11">getContextPath</span><span class="sc10">());</span><span class="sc0">
    </span><span class="sc10">}</span><span class="sc0">

    </span><span class="sc3">/**
     * </span><span class="sc18">@see</span><span class="sc3"> HttpServlet#doPost(HttpServletRequest request, HttpServletResponse response)
     */</span><span class="sc0">
    </span><span class="sc16">protected</span><span class="sc0"> </span><span class="sc16">void</span><span class="sc0"> </span><span class="sc11">doPost</span><span class="sc10">(</span><span class="sc11">HttpServletRequest</span><span class="sc0"> </span><span class="sc11">request</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">HttpServletResponse</span><span class="sc0"> </span><span class="sc11">response</span><span class="sc10">)</span><span class="sc0"> </span><span class="sc5">throws</span><span class="sc0"> </span><span class="sc11">ServletException</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">IOException</span><span class="sc0"> </span><span class="sc10">{</span><span class="sc0">
        
        </span><span class="sc2">//logic to handle session destroy on logout click event
</span><span class="sc0">        </span><span class="sc11">response</span><span class="sc10">.</span><span class="sc11">setContentType</span><span class="sc10">(</span><span class="sc6">"text/html"</span><span class="sc10">);</span><span class="sc0">
        </span><span class="sc2">//invalidate the session if exists
</span><span class="sc0">        </span><span class="sc11">HttpSession</span><span class="sc0"> </span><span class="sc11">session</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">request</span><span class="sc10">.</span><span class="sc11">getSession</span><span class="sc10">(</span><span class="sc5">false</span><span class="sc10">);</span><span class="sc0">
        </span><span class="sc2">//System.out.println("User="+session.getAttribute("user"));
</span><span class="sc0">        </span><span class="sc5">if</span><span class="sc10">(</span><span class="sc11">session</span><span class="sc0"> </span><span class="sc10">!=</span><span class="sc0"> </span><span class="sc5">null</span><span class="sc10">){</span><span class="sc0">
            </span><span class="sc2">//System.out.println("User="+session.getAttribute("user"));
</span><span class="sc0">            </span><span class="sc11">session</span><span class="sc10">.</span><span class="sc11">removeAttribute</span><span class="sc10">(</span><span class="sc6">"user"</span><span class="sc10">);</span><span class="sc0">
            </span><span class="sc11">session</span><span class="sc10">.</span><span class="sc11">invalidate</span><span class="sc10">();</span><span class="sc0">
        </span><span class="sc10">}</span><span class="sc0">
        </span><span class="sc2">//no encoding because we have invalidated the session
</span><span class="sc0">        </span><span class="sc11">response</span><span class="sc10">.</span><span class="sc11">sendRedirect</span><span class="sc10">(</span><span class="sc6">"index.jsp"</span><span class="sc10">);</span><span class="sc0">     
    </span><span class="sc10">}</span><span class="sc0">

</span><span class="sc10">}</span><span class="sc0">
</span></div></body>
</html>
